body {
    background: linear-gradient(90deg, rgba(229,234,255,1) 35%, rgba(246,255,249,1) 100%);


}

h2{
    text-align: center;
}

.name {
    color: #F0F0FF;
    padding: 0px 4vw;
    float: left;
    font-family: 'Cinzel Decorative', cursive;;
}
.desc-links{
    float: right;
    padding: 0px 50px;
}

.desc-links a {
    color: #f2f2f2;
    padding: 50px 50px;
    text-decoration: none;
    font-size: 20px;


}

.desc-links a:hover {
    font-size: 150%;
}


.top-header{
    background: linear-gradient(45deg, rgba(38,52,112,1) 35%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding: 7vh 0px;

}

* {
    margin: 0;
    padding: 0;
}

.content{
    overflow: auto;
    padding-top: 20vh;
    margin: 0vh 5vw;

}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#about-me{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#projects{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
