body {
	color: #F0F0FF; 
}

.name {
	color: #F0F0FF;
	padding: 10px 0px 0px 0px;
    float: left;
}

.desc-links a {

  color: #f2f2f2;

  padding: 24px 26px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.desc-links a:hover {
  background-color: blue;
}


.top-header{
	background-image: linear-gradient(35deg, rgba(0,0,0,0.1), rgba(5,5,50,.1)); 
    padding: 40px 20px 100px 20px;
}
