body {
	color: #F0F0FF; 
}

.name {
	color: #F0F0FF;
	padding: 10px 0px 0px 0px;
	float: left;
}

.desc-links a {
	color: #f2f2f2;
	padding: 24px 26px;
	text-decoration: none;
	font-size: 17px;
	float: right;
}

.desc-links a:hover {
	background-color: blue;
}


.top-header{
	background: linear-gradient(45deg, rgba(38,52,112,1) 35%, rgba(0,212,255,1) 100%);
	padding: 40px 20px 50px 20px;
	overflow: hidden;
}
